bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.nupkg
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
coverage/
coverage-report/
.vs/
*.sln.ide/
.idea/
*.sln.iml
.DS_Store
node_modules/
*.dockerignore